#Ignore all files in KiCAD projects
/Hardware/PSoM_ESP32_PICO_D4/PSoM_ESP32_PICO_D4_00/*

# Except  files necessary for pieces design
# Schematics
!/Hardware/PSoM_ESP32_PICO_D4/PSoM_ESP32_PICO_D4_00/*.kicad_sch
# PCB
!/Hardware/PSoM_ESP32_PICO_D4/PSoM_ESP32_PICO_D4_00/*.kicad_pcb
# PRL ???
!/Hardware/PSoM_ESP32_PICO_D4/PSoM_ESP32_PICO_D4_00/*.kicad_prl
# Project
!/Hardware/PSoM_ESP32_PICO_D4/PSoM_ESP32_PICO_D4_00/*.kicad_pro